body{
    margin-top: 10rem;
    margin-bottom: 10rem;
    display: flex;
    justify-content: center; 
    align-items: center;    
    background-color: #f9eeff;
    font-family: "Work Sans";
}
.background-top {
   
    background-image: url("../imagens/background-pattern-desktop.svg");
    width: 100%;
    height: 250px;
    background-repeat: no-repeat;
    background-position: top center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; 
   
  }

main{
    width: 500px;
    
    background-color: white;
    border: 2px solid white;
    text-align: justify;
    padding: 1rem;
    z-index: 1;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
 
}
.titulo{
  display: flex;
  align-items: center; 
  gap: 10px; 
  font-size: 20px;
  
  color: #301534;
}
.titulo img{
  width: 35px; 
  height: auto;
}
summary {
  list-style: none;
  cursor: pointer;
  position: relative;
  padding-right: 2rem; 
  display: flex; 
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: #301534;
  }
  summary::after {
    content: url("../imagens/icon-plus.svg");
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
  }

  .texto-summary {
    max-width: 85%;
    word-wrap: break-word;
    line-height: 1.4;
  }
  details[open] summary::after {
    content: url("../imagens/icon-minus.svg");  
  }
.questoes {
    margin-bottom: 0.5rem; 
    padding-bottom: 2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
    margin-left: 1rem;
    margin-right: 1rem;
   }
.questoes:last-child {
    border-bottom: none;
}
p{
  color: gray;
  text-align: left;
}