@media (max-width: 600px) {
    .background-top{
        background-image: url("/src/imagens/background-pattern-mobile.svg");
        width: 100%;
    }
    main{
        width: 300px;
     
    }
    .titulo{
        font-size: 15px;
    }
    .titulo img{
        width: 25px; 
        height: auto;
    }
    .questoes{
        font-size:13px ;
    }
    p{
        text-align: justify;
    }
}